{% extends 'Mail/base.html.twig' %}

{% trans_default_domain 'XMSecurityBundle' %}

{% block subject %}Welcome to {{ 'xm_security.parameter.name'|trans }}{% endblock %}

{% block body_text_inner %}{% endblock %}

{% block body_html_inner %}
    <p>Welcome to {{ 'xm_security.parameter.name'|trans }}</p>

    <p>An account has been created for you.</p>

    <div style="margin-left: 20px;">
        Username: {{ user.username }}
    </div>

    <a href="{{ uri }}" style="display: block; max-width: 250px; margin: 25px auto; padding: 12px; background: #008000; color: #fff; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; border-radius: 5px;">Login &amp; Set Your Password</a>
{% endblock body_html_inner %}